<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLineItemOptionsLabel">Create or edit a Line Item Options</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lineItemOptions.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lineItemOptions.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lineItemOptionId">Line Item Option Id</label>
            <input type="text" class="form-control" name="lineItemOptionId" id="field_lineItemOptionId"
                [(ngModel)]="lineItemOptions.lineItemOptionId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="lineItemOptions.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_helpDesc">Help Desc</label>
            <input type="text" class="form-control" name="helpDesc" id="field_helpDesc"
                [(ngModel)]="lineItemOptions.helpDesc" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ord">Ord</label>
            <input type="number" class="form-control" name="ord" id="field_ord"
                [(ngModel)]="lineItemOptions.ord" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_selected">Selected</label>
            <input type="checkbox" class="form-control" name="selected" id="field_selected"
                [(ngModel)]="lineItemOptions.selected" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_lineItem">Line Item</label>
            <select class="form-control" id="field_lineItem" name="lineItem" [(ngModel)]="lineItemOptions.lineItemId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="lineItemOption.id" *ngFor="let lineItemOption of lineitems; trackBy: trackLineItemById">{{lineItemOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
