<div>
    <h2>
        <span>Line Item Options</span>
        <button class="btn btn-primary float-right jh-create-entity create-line-item-options" [routerLink]="['/', { outlets: { popup: ['line-item-options-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Line Item Options
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lineItemOptions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Line Item Option Id</span></th>
            <th><span>Name</span></th>
            <th><span>Help Desc</span></th>
            <th><span>Ord</span></th>
            <th><span>Selected</span></th>
            <th><span>Line Item</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lineItemOptions of lineItemOptions ;trackBy: trackId">
                <td><a [routerLink]="['../line-item-options', lineItemOptions.id ]">{{lineItemOptions.id}}</a></td>
                <td>{{lineItemOptions.lineItemOptionId}}</td>
                <td>{{lineItemOptions.name}}</td>
                <td>{{lineItemOptions.helpDesc}}</td>
                <td>{{lineItemOptions.ord}}</td>
                <td>{{lineItemOptions.selected}}</td>
                <td>
                    <div *ngIf="lineItemOptions.lineItemId">
                        <a [routerLink]="['../line-item', lineItemOptions.lineItemId  ]" >{{lineItemOptions.lineItemName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../line-item-options', lineItemOptions.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'line-item-options/'+ lineItemOptions.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'line-item-options/'+ lineItemOptions.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
