
<div *ngIf="lineItemOptions">
    <h2><span>Line Item Options</span> {{lineItemOptions.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Line Item Option Id</span></dt>
        <dd>
            <span>{{lineItemOptions.lineItemOptionId}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{lineItemOptions.name}}</span>
        </dd>
        <dt><span>Help Desc</span></dt>
        <dd>
            <span>{{lineItemOptions.helpDesc}}</span>
        </dd>
        <dt><span>Ord</span></dt>
        <dd>
            <span>{{lineItemOptions.ord}}</span>
        </dd>
        <dt><span>Selected</span></dt>
        <dd>
            <span>{{lineItemOptions.selected}}</span>
        </dd>
        <dt><span>Line Item</span></dt>
        <dd>
            <div *ngIf="lineItemOptions.lineItemId">
                <a [routerLink]="['/line-item', lineItemOptions.lineItemId]">{{lineItemOptions.lineItemName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'line-item-options/'+ lineItemOptions.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
