<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySectionLabel">Create or edit a Section</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!section.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="section.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sectionId">Section Id</label>
            <input type="text" class="form-control" name="sectionId" id="field_sectionId"
                [(ngModel)]="section.sectionId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="section.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_helpDesc">Help Desc</label>
            <input type="text" class="form-control" name="helpDesc" id="field_helpDesc"
                [(ngModel)]="section.helpDesc" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ord">Ord</label>
            <input type="number" class="form-control" name="ord" id="field_ord"
                [(ngModel)]="section.ord" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_license">License</label>
            <select class="form-control" id="field_license" name="license" [(ngModel)]="section.licenseId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="licenseOption.id" *ngFor="let licenseOption of licenses; trackBy: trackLicenseById">{{licenseOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
