
<div *ngIf="section">
    <h2><span>Section</span> {{section.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Section Id</span></dt>
        <dd>
            <span>{{section.sectionId}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{section.name}}</span>
        </dd>
        <dt><span>Help Desc</span></dt>
        <dd>
            <span>{{section.helpDesc}}</span>
        </dd>
        <dt><span>Ord</span></dt>
        <dd>
            <span>{{section.ord}}</span>
        </dd>
        <dt><span>License</span></dt>
        <dd>
            <div *ngIf="section.licenseId">
                <a [routerLink]="['/license', section.licenseId]">{{section.licenseName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'section/'+ section.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
