<div>
    <h2>
        <span>Sections</span>
        <button class="btn btn-primary float-right jh-create-entity create-section" [routerLink]="['/', { outlets: { popup: ['section-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Section
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sections">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Section Id</span></th>
            <th><span>Name</span></th>
            <th><span>Help Desc</span></th>
            <th><span>Ord</span></th>
            <th><span>License</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let section of sections ;trackBy: trackId">
                <td><a [routerLink]="['../section', section.id ]">{{section.id}}</a></td>
                <td>{{section.sectionId}}</td>
                <td>{{section.name}}</td>
                <td>{{section.helpDesc}}</td>
                <td>{{section.ord}}</td>
                <td>
                    <div *ngIf="section.licenseId">
                        <a [routerLink]="['../license', section.licenseId  ]" >{{section.licenseName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../section', section.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'section/'+ section.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'section/'+ section.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
