<div>
    <h2>
        <span>Line Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-line-item" [routerLink]="['/', { outlets: { popup: ['line-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Line Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lineItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lineItemId"><span>Line Item Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="helpDesc"><span>Help Desc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="inputType"><span>Input Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userResponse"><span>User Response</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sectionName"><span>Section</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let lineItem of lineItems ;trackBy: trackId">
                <td><a [routerLink]="['../line-item', lineItem.id ]">{{lineItem.id}}</a></td>
                <td>{{lineItem.lineItemId}}</td>
                <td>{{lineItem.name}}</td>
                <td>{{lineItem.helpDesc}}</td>
                <td>{{lineItem.inputType}}</td>
                <td>{{lineItem.userResponse}}</td>
                <td>
                    <div *ngIf="lineItem.sectionId">
                        <a [routerLink]="['../section', lineItem.sectionId  ]" >{{lineItem.sectionName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../line-item', lineItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'line-item/'+ lineItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'line-item/'+ lineItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
