<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLineItemLabel">Create or edit a Line Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lineItem.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lineItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lineItemId">Line Item Id</label>
            <input type="text" class="form-control" name="lineItemId" id="field_lineItemId"
                [(ngModel)]="lineItem.lineItemId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="lineItem.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_helpDesc">Help Desc</label>
            <input type="text" class="form-control" name="helpDesc" id="field_helpDesc"
                [(ngModel)]="lineItem.helpDesc" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_inputType">Input Type</label>
            <select class="form-control" name="inputType" [(ngModel)]="lineItem.inputType" id="field_inputType" >
                <option value="TEXT">TEXT</option>
                <option value="SINGLE_SELECT">SINGLE_SELECT</option>
                <option value="MULTI_SELECT">MULTI_SELECT</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userResponse">User Response</label>
            <input type="text" class="form-control" name="userResponse" id="field_userResponse"
                [(ngModel)]="lineItem.userResponse" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_section">Section</label>
            <select class="form-control" id="field_section" name="section" [(ngModel)]="lineItem.sectionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sectionOption.id" *ngFor="let sectionOption of sections; trackBy: trackSectionById">{{sectionOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
