
<div *ngIf="lineItem">
    <h2><span>Line Item</span> {{lineItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Line Item Id</span></dt>
        <dd>
            <span>{{lineItem.lineItemId}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{lineItem.name}}</span>
        </dd>
        <dt><span>Help Desc</span></dt>
        <dd>
            <span>{{lineItem.helpDesc}}</span>
        </dd>
        <dt><span>Input Type</span></dt>
        <dd>
            <span>{{lineItem.inputType}}</span>
        </dd>
        <dt><span>User Response</span></dt>
        <dd>
            <span>{{lineItem.userResponse}}</span>
        </dd>
        <dt><span>Section</span></dt>
        <dd>
            <div *ngIf="lineItem.sectionId">
                <a [routerLink]="['/section', lineItem.sectionId]">{{lineItem.sectionName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'line-item/'+ lineItem.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
